%tr{class:food.expires_on < Date.today && 'hilite'}
  %td= check_box_tag "cb1"  <= need to edit the nth child stuff in js file
  %td= food.food_name
  %td= food.expires_on.strftime("%b %d, %Y")
  %td= food.acquired_on.strftime("%b %d, %Y")
  %td= food.price
  %td= food.food_type
  %td= link_to "More about #{food.food_name}", food_path(food)
