%h2 Your Food List

%table#foods
  %thead
    %tr
      %th Item
      %th Belongs To
      %th Acquired
      %th Expires
      %th Quantity
      %th Price
      %th Type
      %th More Info
  %tbody
    - @foods.each do |food|
      %tr
        %td= food.food_name
        %td= food.user_name_id
        %td= food.acquired_on
        %td= food.expires_on
        %td= food.qty
        %td= food.price
        %td= food.food_type
        %td= link_to "More about #{food.food_name}", food_path(food)

= link_to 'Add new food', new_food_path
