%h2 Create New Food

= form_tag foods_path, :method => :post do

  = label :food, :food_name, 'Name of Food'
  = text_field :food, :food_name

  = label :food, :expires_on, 'Expires On'
  = date_select :food, :expires_on

  = label :food, :acquired_on, 'Acquired On'
  = date_select :food, :acquired_on

  = label :food, :price, 'Price'
  = text_field :food, :price

  = label :food, :qty, 'Qty'
  = text_field :food, :qty

  = label :food, :unit, 'Unit'
  = text_field :food, :unit

  = label :food, :brand, 'Brand'
  = text_field :food, :brand
 
  = submit_tag 'Save Changes'
