%h2 Details about #{@food.food_name}

%ul#details
  %li
    Expires on:
    = @food.expires_on
  %li
    Acquired on:
    = @food.acquired_on
  %li
    Qty:
    = @food.qty
  %li
    Brand:
    = @food.brand
  %li
    Price:
    = @food.price
  %li
    Type:
    = @food.food_type

=  link_to 'Edit info', edit_food_path(@food)
=  button_to 'Delete', food_path(@food), :method => :delete, :confirm => 'Are you sure?'
=  link_to 'Back to Food list', foods_path
    
