!!! 5
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags


  %body
    = render 'layouts/header'

    %h2.title Eat Me NOW!
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      .container
        = yield
    = render 'layouts/footer'
